@font-face {
    font-family: 'Poppins-light';
    src: url('font/Poppins-light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins-medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('font/Helvetica.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Book';
    src: url('font/Avenir-Book.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('font/Avenir-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('font/Avenir-Roman.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('font/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background: white;
}

header {
    box-shadow: none;
    width: 100%;
    z-index: 2000;
    transition: 0.6s, color 0.3s;
}

header li span {
    display: block;
    margin: 0 auto;
    width: 0px;
    margin-top: 7px;
    margin-bottom: -7px;
    border-bottom: 3px solid #007BFF;
    transition: 0.3s;
}

header li:hover span { /* This creates the border. Replace black with whatever color you want. */
    width: 100% !important;
}

@media (max-width: 991px) {
    header ul {
        margin-top: 0.8em;
    }
    #experience img {
        width: 0;
        height: 0;
    }
}

.navbar-brand {
    color: white;
    transition: 0.6s;
    margin-left: 5%;
}

#navbar-content {
    margin-left: 5%;
    margin-right: 5%;
}

.navbar-nav li {
    margin-right: 0.5em;
    width: fit-content;
}

.nav-link {
    color: white !important;
    transition: 0.3s;
    opacity: 0.8;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    transition: 0.3s;
}

.anchor {
    position: relative;
    visibility: hidden;
    top: -5em;
}

#banner {
    position: relative;
    width: 100%;
    height: 35em;
    overflow: hidden;
}

#banner img {
    width: 1920px;
    height: 35em;
    align-self: center;
    margin-left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 1920px) {
    #banner img {
        width: 100%;
        height: auto;
        min-height: 35em;
    }
}

#titles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#titles h1, #titles h2 {
    color: white;
    text-align: center;
}

#titles h1 {
    font-size: 4em;
    font-family: 'Avenir-Roman';
}

#titles h2 {
    font-size: 1.3em;
    opacity: 0.6;
    letter-spacing: 0.2em;
    font-family: 'Poppins-light';
}

#profil {
    position: relative;
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: -125px;
    margin-bottom: 1.5em;
}

#profil img {
    width: 250px;
    height: 250px;
    border-radius: 200px;
    border: 7px solid white;
}

main {
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#presentation h2, #experience-container h2,
#formations-container h2, #mes-projets h2,
#contact h2 {
    font-family: 'Avenir-Roman';
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
}

#presentation h2 {
    margin-bottom: 0.3em;
}

#presentation p {
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 2em;
}

#presentation_row {
    padding-bottom: 5em;
}

#presentation a {
    width: fit-content;
    display: block;
    margin: 2.5em auto;
    margin-bottom: 1em;
    border: 1px solid;
    padding: 0.8em 2.75em;
    transition: color 0.3s, background 0.3s, opacity 1.5s 0.4s;
    text-align: center;
}

#presentation a:hover {
    background: #007BFF;
    color: white;
    text-decoration: none;
}

#competences-container, #formations-container {
    background: #F7F8FA;
}

#competences-container {
    padding-top: 0.2em;
    padding-bottom: 5em;
}

#competences {
    background: white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12),
                0 1px 4px rgba(0, 0, 0, 0.24);
}

#competences_title {
    text-align: center;
    font-family: 'Avenir-Roman';
    margin: 0;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 2.5em;
}

#competences h3 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    margin: auto;
    margin-bottom: 1em;
    font-family: 'Avenir-Roman';
}

#competences ul {
    border-radius: 20px;
    transition: 0.3s;
    padding: 0;
    margin-bottom: 0;
}

.col-lg {
    padding: 1em 0;
}

#competences li {
    list-style: none;
    margin-left: 5em;
    margin-right: 5em;
    padding-left: 0;
    font-size: 0.9rem;
    text-align: justify;
    margin-bottom: 1.2em;
    font-family: sans-serif;
    color: #333333;
}

#competences span {
    margin-bottom: 10em;
}

.progress-bar {
    width: 0;
    transition: 2s !important;
}

.progress {
    height: 15px;
}

#experience img {
    width: 25%;
    height: 10em;
}

#experience-container {
    padding-top: 3em;
    padding-bottom: 4.5em;
}

#experience-content {
    display: flex;
    flex-direction: row;
    padding: 0;
    background: white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12),
                0 1px 4px rgba(0, 0, 0, 0.24);
    transition: all 0.3s;
    text-decoration: none;
    color: black;
}

#experience-content:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
}

#content-stage {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 0.7em;
    margin-bottom: 1em;
}

#content-stage-left, #content-stage-right {
    margin-left: 3em;
    margin-top: 0.5em;
    width: 80%;
}

#date {
    display: none;
}

#content-stage-right {
    text-align: right;
    margin-right: 1em;
    width: 25%;
}

#content-stage h3, #content-stage h4 {
    font-family: 'Avenir-Roman';
}

#content-stage h4 {
    font-size: 1.1em;
    font-style: bold;
    margin-bottom: 1.1em;
}

#content-stage-right h3 {
    font-size: 1.2em;
}

#content-stage-left h3 {
    font-size: 1.5em;
    margin-bottom: 0.3em;
}

#content-stage-left p {
    font-size: 0.9em;
    opacity: 0.7;
    margin-bottom: 0.25em;
}

@media (max-width: 992px) {
    #experience img {
        width: 0;
        height: 0;
    }
    #experience-content {
        border-left: #007BFF solid 5px;
    }
}

#formations-container {
    padding-top: 3em;
    padding-bottom: 3em;
    margin-bottom: 3em;
}

.formations-content {
    background: white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12),
                0 1px 4px rgba(0, 0, 0, 0.24);
    padding-top: 1.5em;
    margin-bottom: 1em;
    border-left: 5px solid #007bff;
}

#formations h3 {
    font-size: 1.1em;
    text-align: center;
    font-style: bold;
    color: #007bff;
    font-family: 'Avenir-Roman';
}

#formations h1 {
    font-family: 'Avenir-Roman';
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#formations h2 {
    text-align: center;
    font-size: 0.9em;
    font-family: 'Avenir-Roman';
    opacity: 0.7;
    padding-bottom: 1em;
}

#mes-projets {
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
    padding-bottom: 2em;
}

@media (min-width: 1900px) {
    #mes-projets {
        width: 100%;
    }
}

@media (max-width: 1899px) {
    #mes-projets {
        width: 60%;
    }
}

@media (max-width: 1400px) {
    #mes-projets {
        width: 75%;
    }
}

.projets-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.5em;
}

.projets-content img {
    position: relative;
    width: 22em;
    height: 14em;
    align-self: center;
    margin-left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    opacity: 0.5;
    transition: 0.3s;
}

.projets-content {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12),
                0 1px 4px rgba(0, 0, 0, 0.24);
    margin: 1em;
    width: 22em;
    background: white;
}

.projets-content:hover {
    text-decoration: none;
    transition: 0.3s !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05) !important;
}

#mes-projets h4 {
    text-align: center;
    font-family: 'Avenir-Roman';
    font-size: 1.2em;
    margin: 0;
    margin-top: 0.7em;
    padding: 0.3em 0;
    color: black;
    font-style: bold;
}

#mes-projets ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: fit-content;
    margin: auto;
    margin-bottom: 1em;
}

#mes-projets ul li {
    font-family: 'Roboto';
    padding: 0.25em 0.8em;
    border-radius: 30px;
    background: #007BFF;
    color: white;
    font-size: 0.75em;
    list-style: none;
    margin: 0.6em 0.35em;
    margin-bottom: 0.5em;
    font-style: bold;
}

.miniature-container {
    position: relative;
    background: #333333;
}

.miniature-container h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1000;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Poppins';
}

#link-github {
    font-size: 1em;
    padding: 0.8em 2em;
    font-family: 'Avenir-Roman';
    background: #007BFF;
    color: white;
    border-radius: 5px;
    border: 1px solid #007BFF;
    text-decoration: none;
    transition: opacity 1.5s, padding 0.3s;
}

#link-github:hover {
    padding: 0.8em 3em;
}

#contact {
    background: #F7F8FA;
    color: black;
    padding-top: 3em;
    padding-bottom: 3em;
}

#contact h3 {
    font-family: 'Avenir-Roman';
    font-size: 2.3em;
    margin-bottom: 0.5em;
    padding-bottom: 0.2em;
    font-style: bold;
}

#keywords-infos {
    margin: 0;
    padding: 0;
}

#keywords-infos li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

#keywords-infos img {
    width: 1.7em;
    height: 1.9em;
    margin: 0;
    padding: 0;
    margin-right: 0.5em;
    padding-bottom: 0.3em;
}

#liens img {
    height: 3em;
    width: 3em;
    color: black;
}

#container-infos-contact {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5em;
}

#container-infos-contact div {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
    font-size: 1.1em;
    margin-bottom: 0.5em;
}

#keywords-infos {
    margin-right: 1em;
}

#keywords-infos p {
    font-family: 'Avenir-Medium';
    color: #555555;
}

#liens a {
    text-decoration: none;
}

#contact form {
    display: flex;
    flex-direction: column;
    width: auto;
    background: white;
    padding: 1em 2em;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12),
                0 1px 4px rgba(0, 0, 0, 0.24);
}

#contact form h3 {
    color: black;
}

.names_input_container {
    display: flex;
    flex-direction: row;
    width: auto;
}

.names_input_container input {
    width: 50%;
}

#input_prenom {
    margin-left: 0.25em;
}

#input_nom {
    margin-right: 0.25em;
}

#contact form input, #contact form textarea {
    margin-bottom: 0.8em;
    background: #EFEFEF;
    border: none;
    border-radius: 3px;
    color: black;
    padding: 0;
    padding-left: 0.5em;
}

#contact form textarea {
    height: 9em;
    padding-top: 0.5em;
    resize: none;
}

#contact form input[type="submit"] {
    width: 10em;
    height: 2.5em;
    border: none;
    background: #007BFF;
    color: white;
}

#contact form input[type="text"],
#contact form input[type="email"] {
    height: 2.5em;
}

#contact form input::placeholder,
#contact form textarea::placeholder {
    color: black;
    opacity: 0.5;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    font-family: 'Avenir-Roman';
}

@media (max-width: 991px) {
    #infos_contact {
        text-align: center;
        margin-bottom: 3em;
    }
    #infos_contact ul {
        margin: auto;
    }
}

#link-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 2.2em;
    height: 2.2em;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12),
                0 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 50px;
    display: none;
}

#link-to-top img {
    width: 2.2em;
    height: 2.2em;
}
